<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <c></c>
    <file
            source_path="/var/log"
            destination_path="/etc"
            file_name="server.log"
    />
    <key></key>
    <file
            source_path="/Users/admin/Downloads"
            destination_path="/Users/admin/Downloads/test"
            file_name="QA Automation Engineer (update 2020-03-15).docx"
    />
    <file
            destination_path="/Users/admin/Downloads/test"
            file_name="QA Automation Engineer (update 2020-03-15).docx"
    />
    <file
            source_path="/Users/admin/Downloads"
            destination_path=""
            file_name="QA Automation Engineer (update 2020-03-15).docx"
    />
</config>
